<section class="content new-outfit-section">

  <h1>Create a New Pose:</h1>
  
  <form class="form new-outfit-form">
    <div class="form-group">
      <label for="outfit-name">Outfit name:</label>
      <input
        class="form-input"
        type="text"
        id="outfit-name"
        name="outfit-name"
      />
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input class="form-input" type="number" id="price" name="price" />
    </div>
    <div class="form-group">
      <label for="brand">Brand:</label>
      <input class="form-input" type="text" id="brand" name="brand" />
    </div>
    <div class="form-group">
      <label for="location">Where did you see it?:</label>
      <input class="form-input" type="text" id="location" name="location" />
    </div>
    <div class="form-group">
      <label for="item-occasion">Occasion:</label>
      <input class="form-input" type="text" id="occasion" name="occasion" />
    </div>
    <div class="form-group">
      <label for="colour">Colour:</label>
      <input class="form-input" type="text" id="colour" name="colour" />
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <input class="form-input" type="text" id="gender" name="gender" />
    </div>
   <div class="form-group">
      <label for="notes">Notes:</label>
      <input class="form-input" type="text" id="notes" name="notes" />
    </div>

    <div class="form-group">
      <label for="image">Upload Your Image:</label>
      <input class="form-input" type="file" id="image" name="image_name" />
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-primary">Create Outfit</button>
    </div>
  </form>

</section>

<script src="js/post.js"></script>