<div class="content">
    <h2>{{name}}'s board</h2>

    {{#if outfits.length}}
        <h3>Your outfits' list:</h3>

        {{#each outfits as |outfit|}}
            <div class="content">
                <section class="card">
                <img
                class="outfit-image"
                src="{{outfit_link}}.jpg"
                alt="Outfit"
            />
            <div class="card-body-simple">
                <div>
                <h1>{{title}}</h1>
                <h2>{{price}}</h2>
                </div>
                <div class="like">
                <button id="like" class="like"><img src="/images/like.svg"/></button>
                </div>
                </div>
                </section>
            </div>
          {{/each}}
        </div>
      {{/if}}
  </div>
</div>

<a href="/add-outfit" class="btn btn-primary">Create a new Pose</button>

<script src="./js/profile.js"></script> 