{{#each outfits as |outfit|}}
  <div class="content">
    <section class="card">
      <img
        class="outfit-image"
        src="{{image}}.jpg"
        alt="Outfit"
      />
      <div class="card-body-simple">
        <div>
          <h1>{{outfit_name}}</h1>
          <h2>{{gender}}</h2>
          <h2>{{occasion}}</h2>
        </div>
        <div class="like">
          <button id="like" class="like"><img src="/images/like.svg"/></button>
        </div>
      </div>
    </section>
  </div>
{{/each}}