<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pose-it</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
  </head>

  <body>
    <header>
      <img
        class="logo"
        src="../public/images/pose-it-logo.svg"
        alt="Post-it logo"
      />
      <nav>
        <a href="/">Login</a>
        <a href="/">Signup</a>

        <!-- {{#if logged_in}}
          <a href="/dashboard">Dashboard</a>
          <a href="/logout" id="logout">Logout</a>
        {{else}} -->
        <!-- <a href="/login">Sign Up</a>
          <a href="/login">Login</a> -->
        <!-- {{/if}} -->
      </nav>
    </header>

    <main>
      <div class="content">
        <section class="card">
          <img
            class="outfit-image"
            src="../public/images/outfit7.jpg"
            alt="Outfit"
          />
          <div class="card-body">
            <div class="outfit-nav">
              <img src="../public/images/arrow_left.svg">
              <h1>Trousers</h1>
              <img src="../public/images/arrow_right.svg">
            </div>
            <header>
              <div>
                <h3>Skateboarding 511 slim 5 pocket jeans in indigo</h3>
              </div>
              <div class="price">
                <h2>£70.50</h2>
              </div>
            </header>
            <div class="details">
              <p><span>Brand: </span>Levis</p>
              <p><span>Shop: </span>Asos</p>
              <p><span>Gender: </span>Men</p>
              <p><span>Occasion: </span> Casual event</p>
              <p><span>Colour: </span> Black</p>
              <p><span>Post date: </span> 10 May 21</p>
            </div>
          </div>
        </section>
      </div>

      <div class="content">
        <section class="card">
          <img
            class="outfit-image"
            src="../public/images/outfit1.jpg"
            alt="Outfit"
          />
          <div class="card-body">
            <div class="outfit-nav">
              <img src="../public/images/arrow_left.svg">
              <h1>Trousers</h1>
              <img src="../public/images/arrow_right.svg">
            </div>
            <header>
              <div>
                <h3>Skateboarding 511 slim 5 pocket jeans in indigo</h3>
              </div>
              <div class="price">
                <h2>£70.50</h2>
              </div>
            </header>
            <div class="details">
              <p><span>Brand: </span>Levis</p>
              <p><span>Shop: </span>Asos</p>
              <p><span>Gender: </span>Men</p>
              <p><span>Occasion: </span> Casual event</p>
              <p><span>Colour: </span> Black</p>
              <p><span>Post date: </span> 10 May 21</p>
            </div>
          </div>
        </section>
      </div>

      <div class="content">
        <section class="card">
          <img
            class="outfit-image"
            src="../public/images/outfit2.jpg"
            alt="Outfit"
          />
          <div class="card-body">
            <div class="outfit-nav">
              <img src="../public/images/arrow_left.svg">
              <h1>Trousers</h1>
              <img src="../public/images/arrow_right.svg">
            </div>
            <header>
              <div>
                <h3>Skateboarding 511 slim 5 pocket jeans in indigo</h3>
              </div>
              <div class="price">
                <h2>£70.50</h2>
              </div>
            </header>
            <div class="details">
              <p><span>Brand: </span>Levis</p>
              <p><span>Shop: </span>Asos</p>
              <p><span>Gender: </span>Men</p>
              <p><span>Occasion: </span> Casual event</p>
              <p><span>Colour: </span> Black</p>
              <p><span>Post date: </span> 10 May 21</p>
            </div>
          </div>
        </section>
      </div>

      <div class="content">
        <section class="card">
          <img
            class="outfit-image"
            src="../public/images/outfit3.jpg"
            alt="Outfit"
          />
          <div class="card-body">
            <div class="outfit-nav">
              <img src="../public/images/arrow_left.svg">
              <h1>Trousers</h1>
              <img src="../public/images/arrow_right.svg">
            </div>
            <header>
              <div>
                <h3>Skateboarding 511 slim 5 pocket jeans in indigo</h3>
              </div>
              <div class="price">
                <h2>£70.50</h2>
              </div>
            </header>
            <div class="details">
              <p><span>Brand: </span>Levis</p>
              <p><span>Shop: </span>Asos</p>
              <p><span>Gender: </span>Men</p>
              <p><span>Occasion: </span> Casual event</p>
              <p><span>Colour: </span> Black</p>
              <p><span>Post date: </span> 10 May 21</p>
            </div>
          </div>
        </section>
      </div>


      <div class="content">
        <section class="card">
          <img
            class="outfit-image"
            src="../public/images/outfit8.jpg"
            alt="Outfit"
          />
          <div class="card-body-simple">
              <div>
                <h1>Casual event</h1>
                <h2>£70.50</h2>
              </div>
              <div class="like">
                <img src="../public/images/like.svg">
              </div>
          </div>
        </section>
      </div>

      <div class="content">
        <section class="card">
          <img
            class="outfit-image"
            src="../public/images/outfit4.jpg"
            alt="Outfit"
          />
          <div class="card-body-simple">
              <div>
                <h1>Casual event</h1>
                <h2>£70.50</h2>
              </div>
              <div class="like">
                <img src="../public/images/like.svg">
              </div>
          </div>
        </section>
      </div>

      <div class="content">
        <section class="card">
          <img
            class="outfit-image"
            src="../public/images/outfit5.jpg"
            alt="Outfit"
          />
          <div class="card-body-simple">
              <div>
                <h1>Casual event</h1>
                <h2>£70.50</h2>
              </div>
              <div class="like">
                <img src="../public/images/like.svg">
              </div>
          </div>
        </section>
      </div>

      <div class="content">
        <section class="card">
          <img
            class="outfit-image"
            src="../public/images/outfit6.jpg"
            alt="Outfit"
          />
          <div class="card-body-simple">
              <div>
                <h1>Casual event</h1>
                <h2>£70.50</h2>
              </div>
              <div class="like">
                <img src="../public/images/like.svg">
              </div>
          </div>
        </section>
      </div>


          </div>
        </section>
      </div>

    <!-- Render script for logged in users only -->
    <!-- {{!-- {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}} --}} -->
  </body>
</html>
