:root {
  --primary: #000;
  --secondary: #c5839e;
  --tertiary: #d3d3d3;
  --light: #ffffff;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--light);
}

h2 {
  text-align: center;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
}

header a {
  align-self: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-grow: 0;
  padding: 50px 80px 50px 80px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  flex-grow: 1;
  padding: 30px 0 30px 0;
}

nav {
  display: inline-flex;
  align-self: center;
}

nav a {
  font-size: 16px;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--light);
  background-color: var(--primary);
}

nav button {
  font-size: 16px;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav button:hover {
  color: var(--light);
  background-color: var(--primary) !important;
}

.content {
  padding: 0px 10px 40px 10px;
  flex: 0 1 21%;
}

.logo {
  width: 100%;
  max-height: 23vh;
  align-self: center;
  margin: 30px 0 15px 0;
}

.selectors {
  align-self: center;
}

select {
  padding: 8px;
  margin: 0px 4px 0px 4px;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option {
  color: black;
}
select option:first-child {
  color: green;
}

select option[value="1"] {
  background: rgba(100, 100, 100, 0.3);
}

.divider {
  border-bottom: solid black 1px;
}

.outfit-image {
  width: 100%;
}

button {
  background: none !important;
  border: none !important;
  padding-top: 5px;
}

.btn-no-style button {
  background: none !important;
  border: none !important;
  padding-top: 5px;
}

.btn-primary {
  background: var(--primary) !important;
  color: var(--light);
  border: none !important;
  padding: 10px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 0px;
}

.btn-primary:hover {
  background-color: lightslategrey;
}

.wrapper {
  text-align: center;
  align-content: center;
}

.wrapper a {
  background: var(--primary) !important;
  color: var(--light);
  border: none !important;
  padding: 10px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 0px;
}

.wrapper h2 {
  margin-top: 0;
}

.wrapper h3 {
  margin: 0;
}

.single-outfit .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding: 0px 20px 40px 20px;
}

.single-outfit img {
  width: 40%;
}

.single-outfit .card-body {
  height: 100%;
  padding: 0;
}

.single-outfit .card-body-padding {
  padding: 20px;
}

/* CARDS */
.card {
  max-width: 25vw;
  min-width: 18vw;
  flex: 0 1 300px;
  background-color: var(--light);
}

.card-single-outfit {
  max-width: 25vw;
  min-width: 35vw;
  flex: 0 1 300px;
  background-color: var(--light);
}

.card:hover {
  transition: transform 0.2s;
  color: var(--light);
  background-color: var(--primary);
  border: 1px solid var(--light);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  padding: 20px;
  text-align: left;
  border: solid 1px var(--primary);
}

.card-body header {
  margin-bottom: 20px !important;
}

.card-body h1 {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 1.6rem;
}

.card-body h2 {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 1.1rem;
}

.card-body h3 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 100;
  font-size: 1.1rem;
}

.card-body p {
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: normal;
}

.card-body span {
  font-weight: bold;
}

.card header {
  margin-top: 15px !important;
  justify-content: space-between;
  text-align: left;
  padding-top: 12px;
  border-top: solid 1px var(--primary);
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.card-body .price {
  padding-bottom: 10px;
}

.card-body-simple {
  padding: 20px;
  text-align: left;
  border: solid 1px var(--primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.card-body-simple h1 {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 1.1rem;
}

.card-body-simple h2 {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 0.9rem;
}

.card-body-simple h3 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 100;
  font-size: 1.1rem;
}

.info {
  width: 80%;
}

.posts-list {
  text-align: center;
}

.outfit-nav {
  display: flex;
  justify-content: space-between;
}

.outfit-nav img {
  height: 1.5rem;
}

/* FORMS */

.post-form {
  align-self: center;
}

.access-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

.login div {
  padding: 7px 0px 7px 0px;
}

.login h2 {
  text-align: left;
}

.signup div {
  padding: 7px 0px 7px 0px;
}

.signup h2 {
  text-align: left;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.hide {
  display: none;
}

.btn-delete {
  background: var(--error) !important;
  color: var(--light);
  border: none !important;
  padding: 10px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 0px;
}

.new-outfit-form {
  background: var(--light);
  color: var(--primary);
  border: var(--primary);
  border-width: thick;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  background-color: var(--tertiary);
  transform: rotate(45deg);
  -webkit-appearance: none;
}

input[type="checkbox"]:before {
  position: absolute;
  content: "";
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  height: 60%;
  width: 100%;
  top: -56%;
  border-radius: 75px 75px 0 0;
}

input[type="checkbox"]:after {
  position: absolute;
  content: "";
  background-color: var(--tertiary);
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
  top: 20%;
  right: 76%;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after {
  background-color: var(--secondary);
}

.new-outfit-section {
  margin-left: 50px;
  margin-right: 50px;
  padding: 70px;
  padding-top: 0;
}

.form-group {
  padding: 5px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary);
  color: var(--light);
  text-align: center;
}

.footer h6 {
  padding: 0;
  margin: 15px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .card {
    width: 25vw;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .card {
    min-width: 65vw !important;
  }
}
