:root {
  --primary: #000;
  --secondary: #d9e7d1;
  --tertiary: #5e877f;
  --quatrinary: #887d52;
  --light: #ffffff;
  --dark: rgb(41, 38, 21);
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--light);
}

h2 {
  text-align: center;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
}

header a {
  align-self: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
	align-items: stretch;
	align-content: stretch;
  flex-grow: 1;
  padding: 50px 80px 50px 80px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-grow: 1;
  padding: 50px 0 50px 0;
}

nav {
  display: inline-flex;
  align-self: center;
}

nav a {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--light);
  background-color: var(--primary);
}

.content {
  flex: 4;
  padding: 0px 20px 40px 20px;
}

.logo {
  width: 100%;
  max-height: 23vh;
  align-self: center;
  margin: 30px 0 15px 0;
}

.outfit-image {
  width: 100%;
}

button {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-primary {
  background: var(--primary) !important;
  color: var(--light);
  border: none !important;
  padding: 10px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 0px;
}

.wrapper {
  text-align: center;
  align-content: center;
}

.wrapper a {
  background: var(--primary) !important;
  color: var(--light);
  border: none !important;
  padding: 10px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 0px;
}

.wrapper h2{
  margin-top: 0;
}

.wrapper h3{
  margin: 0;
}

/* .single-outfit {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
} */

.single-outfit .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding: 0px 20px 40px 20px;
}

.single-outfit img {
  width: 60%;
}

.single-outfit .card-body {
  height: 100%;
  padding: 0;
}

.single-outfit .card-body-padding {
  padding: 20px;
}

/* CARDS */
.card {
  min-width: 18vw;
  flex: 0 1 300px;
  background-color: var(--light);
}

.card-body {
  padding: 20px;
  text-align: left;  
  border: solid 1px var(--primary);
}

.card-body header {
  margin-bottom: 20px !important;
}

.card-body h1 {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 1.6rem;
}

.card-body h2 {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 1.1rem;
}

.card-body h3 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left; 
  font-weight: 100;
  font-size: 1.1rem;
}

.card-body p {
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: normal;
}

.card-body span {
  font-weight: bold;
}

.card header {
  margin-top: 15px !important;
  justify-content: space-between;
  text-align: left;
  padding-top: 12px;
  border-top: solid 1px var(--primary);
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.card-body .price {
  padding-bottom: 10px;
}


.card-body-simple {
  padding: 20px;
  text-align: left;  
  border: solid 1px var(--primary);
  display: flex;
  justify-content: space-between;
}

.card-body-simple h1{
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 1.6rem;
}

.card-body-simple h2 {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 1.1rem;
}

.card-body-simple h3 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left; 
  font-weight: 100;
  font-size: 1.1rem;
}

/* .card-body .details {
  border-bottom: solid 1px;
} */

.posts-list {
  text-align: center;
}

.outfit-nav {
  display: flex;
  justify-content: space-between;
}

.outfit-nav img {
  height: 1.5rem;
}

/* FORMS */

.post-form {
  align-self: center;
}

.access-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

.login div {
  padding: 7px 0px 7px 0px;
}

.login h2 {
  text-align: left;
}

.signup div {
  padding: 7px 0px 7px 0px;
}

.signup h2 {
  text-align: left;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.hide {
  display: none;
}


.btn-delete {
  background: var(--error) !important;
  color: var(--light);
  border: none !important;
  padding: 10px !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 0px;
}

.new-outfit-form {
  background: var(--light);
  color: var(--primary);
  border: var(--primary);
  border-width: thick;

}

input[type="checkbox"]{
  height: 20px;
  width: 20px;
 
  background-color: silver;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance:none;

}

input[type="checkbox"]:before{
  position: absolute;
  content: "";
  background-color:silver;
  border-color:silver;
  height: 60%;
  width: 100%;
  top:-59%;
  border-radius: 75px 75px 0 0;

}

input[type="checkbox"]:after{

  position: absolute;
  content: "";
  background-color:silver;
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
  top:20%;
  right: 79%;
}

input[type="checkbox"]:checked, 
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after
{
  background-color: #fe0f42;
}
